@charset "UTF-8";
 
 :root{
     --color-black: #1b1b1b;
     --color-white: #fff;
     --color-green: #00c9c9;
     --color-rojo: #e30613;
     --color-amarillo: #ffce00;
}

body{
    background-image: url(./torres.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

section{
    width: 1000px;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 60px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 10px;
}

h1{
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 35px;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
}

h3{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
}

p{
    color: white;
    text-align: justify;
    font-size: 17px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

input{
    width: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 25px;
    border: none;
}

#boton1{
    background-color: var(--color-amarillo);
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#boton1:hover{
    background: var(--color-amarillo);
    box-shadow: 0 0 10px var(--color-amarillo), 0 0 40px var(--color-amarillo), 0 0 80px var(--color-amarillo);
}

#boton2{
    background-color: var(--color-white);
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 100px;
}

#boton2:hover{
    background: var(--color-white);
    box-shadow: 0 0 10px var(--color-white), 0 0 40px var(--color-white), 0 0 80px var(--color-white);
}

#boton3{
    background-color: var(--color-rojo);
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 100px;
}

#boton3:hover{
    background: var(--color-rojo);
    box-shadow: 0 0 10px var(--color-rojo), 0 0 40px var(--color-rojo), 0 0 80px var(--color-rojo);
}

.p2{
    text-align: center;
    font-size: 23px;
    text-decoration: underline;
    color: var(--color-green);
    margin-top: 0;
}

@media (min-width: 321px)and (max-width: 810px){
    section{
        width: 100%;
    }
    input{
        width: 60%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 8px;
        box-sizing: border-box;
        font-size: 25px;
        border: none;
        flex-direction: column;
    }
    #boton1{
        background-color: var(--color-amarillo);
        color: black;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        margin: auto;
    }
    #boton2{
        background-color: var(--color-white);
        color: black;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
    }
    #boton3{
        background-color: var(--color-rojo);
        color: black;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
    }

}

